doctype html
html
    head
        title Osumare Project Work | Osumare
        style
            include ../static/style.css
        link(rel='stylesheet' media='screen and (max-width:1500)' href='./static/phone.css' <='' body='')
    body
        nav#navbar
            #logo
                img(src='../static/osumare_logo.jpg', alt='Osumare _logo')
            ul
                li.item  #[a(href="/contact") Contact US]
        section#home
            h1.h-primary Elevate <b> Real Estate Success </b> with
            h1.h-primary Osumare's Digital Expertise
            p Tailored Solutions for Thriving in the Digital Real Estate Landscape
            
            button.btn #[a(href="/") Get Started]
        section.bg
            #box
                img(src='../static/bg_.png', alt="Bg_logo")
        
        section.container1
            h1.h-secondary Real Estate-Focused Digital Mastery
            #img
                img(src='../static/bg_2.png', alt="img2")
        aside.para
            h3
                | Unlock the Potential of Digital Real Estate Excellence
            p
                | At Osumare, we understand that the real estate landscape demands a digital presence that align with the intricacies of property marketing. Our range of specialized services is meticulously designed to catapult your brand's success in the ever-evolving digital property market.
            button.btn #[a(href="/") Get Started]
            
        section.service-container
            h1.h-secondary
                | Our Service Offerings
            p
                | Strategies that Drive Property Market Excellence
            
            #services
                div.box
                    
                    h2.h-secondary Automotive SEO
                    p.center Drive Your Success Automotive Seo: Ignite Online Visibilty and Outrace the Competitions. Accelerate Your Business growth Today.
                div.box
                    h2.h-secondary PPC Precision
                    p.center Maximise visibilty and drive quality traffic and meticulously targeted pay-per-click campaigns.
                div.box
                    h2.h-secondary Social Acceleration
                    p.center Engage and influence your audience across social media platforms, amplifying your brands presence and connection.
                    
                div.box
                    h2.h-secondary Content Excellence
                    p.center Craft complelling and resonates with enthusiasts and drives engagement.
                    
            #services2
                div.box
                    h2.h-secondary Web Design
                    p.center Transforms visitors customers with high performance webistes designed for seamless user experience and increased conversions.
                    
                div.box
                    h2.h-secondary Data-Driven Insights 
                    p.center Levergae data to refine your strategies,making informed decisions that drive revenue growth.
                    
                div.box
                    h2.h-secondary End-to-End Solutions 
                    p.center From initial awareness to post-purchase loyalty, we offer full-funnel solutions that guide customers through every step of their journey.
                    
                div.box
                    h2.h-secondary Vedio marketing
                    p.center Unleash the power of Vedio marketing Captive,Engage, and Elevate Your Brand with compelling Visual Stories.
            button.btn #[a(href="/") Get Started]
        .container2
            h1.h-secondary
                | Navigating Real Estate's Digital Landscape
            p
                | Insights for Real Estate Marketing Advantage
        section.container3
            
            #services3
                div.box
                    h2.h-secondary Market Trends Analysis
                    p.center Predictive insights to guide real estate strategies.
                div.box
                    h2.h-secondary Targeted Buyer Persona
                    p.center Understand and connect with your ideal property buyers.
                div.box
                    h2.h-secondary Competitor Insights
                    p.center Stand out in the property market with informed strategies.
                div.box
                    h2.h-secondary Visual Content Appeal
                    p.center Captive buyers with apprealing visuals and immersive
            #img
                img(src='../static/bg_3.png', alt="img3")
        .container2
            h1.h-secondary
                | Divine Properties Inquiries to Conversions
            p
                | Streamlined Strategies for Real Estate Success
        section.section
            #img
                img(src='../static/bg_4.png', alt="img3")
            h1.h-primary
                | Optimized Path to Property Purchase
            p
                | In th dynamic realm of real estate, the journey from a property inquiry to a successful conversion demands a well-crafted approach. At Osumare, we apecialize in guiding potential buyers through this journey seamlessly, maximizing inquiries-turned-conversions with expert strategies.
            button.btn #[a(href="/") Get Started]

        .container2
            h1.h-secondary
                | Driving Property Inquiries to Conversions
        section.container4
            #inquiries
                div.box
                    img(src='../static/bg_5.png', alt="img3")
                    h2.h-secondary Call-to-Action Optimization
                    p.center Our carefully crafted CTAs guide potential buyers through the property journey, enhancing engagement and conversion rates.
                div.box
                    img(src='../static/bg_6.png', alt="img3")
                    h2.h-secondary Landing Page Efficiency
                    p.center Tailored landing pages and designed for maximum properly lead conversion. They provide seamless user experience and clear pathways for inquiry submission.
            #inquiries2
                div.box
                    img(src='../static/bg_7.png', alt="img3")
                    h2.h-secondary Social Proof Utilization
                    p.center Leverage the power of testimonals and success stories from satisfied buyers trust and credibility, encouraging hesitant prospects to take action.
                div.box
                    img(src='../static/bg_8.png', alt="img3")
                    h2.h-secondary Mobile Friendly Experience
                    p.center With a responsive design approach,our strategies ensure a seamless browsing experience across all devices. This responsivness by accomodating the preferences of on-the-go property seekers.

        .container2
            h1.h-secondary
                | Our Expertise in Action
        section.container4
            #inquiries
                div.box
                    img(src='../static/bg_9.png', alt="img3")
                    h2.h-secondary Effective CTAs
                    p.center See how Strange CTAs drove a significant increase in property inquiries and accelarated sales for a real estate agency.
                div.box
                    img(src='../static/bg_10.png', alt="img3")
                    h2.h-secondary Conversion-Optimzed Landing Pages
                    p.center Explore a case study where our landing page optimization increased property lead conversion rates by 30%.
            #inquiries2
                div.box
                    img(src='../static/bg_11.png', alt="img3")
                    h2.h-secondary Try building with Social Proof
                    p.center Discover how levergaing client testimonals boosted buyer confidence , leading to higher conversion rates for a property development project.
                div.box
                    img(src='../static/bg_12.png', alt="img3")
                    h2.h-secondary Mobile-First Success:
                    p.center Learn how our mobile-responsive design approach resulted in a 25% increase in inquiries from mobile users for a real estate agency.
        
        section.container5
            h1.h-secondary
                | Your Peace of Mind
            p
                | Through our Conversation -focused, we ensure that property seekers are not just visitors, but engaged prospects ready to make their next move in the real estate market.
            button.btn #[a(href="/") Get Started]
        
        section.review
            
            img(src='../static/review.png', alt="img3")

        section.contact
            h1.h-secondary Connect with Our Digital Marketing Experts
            p
                | Reach Out for Tailored Strategies and Results-Driven Solutions.Let's Evaluate Your Online Presence Together
            
            .contact-box
                form(action="/contact" method="post")
                    .form-group
                        label(for="Name") Name:
                        input(type="text" name="Name" id="Name" placeholder="Enter your name")
                    .form-group
                        label(for="Email") Email:
                        input(type="text" name="Email" id="Email" placeholder="Enter your email")
                    .form-group
                        label(for="Phone") Phone:
                        input(type="text" name="Phone" id="Phone" placeholder="Enter your phone")
                    .form-group
                        label(for="Message") Message:
                        input(type="text" name="Message" id="Message" placeholder="Message")
                    .btn
                        input(type="Submit") 
        section.end
            img(src='../static/end.png', alt="img3")

        footer
            .center
            copyright &2003 Osumare. | All rights reserves
            


            


        